@model GuestResponseDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <p>
        <h1>Thank you @Model.Name!</h1>
        @if (Model.WillAttend == true)
        {
            @:It's reat that you are coming.
        }
        else
        {
            @:Sorry to hear you are not coming.
        }
    </p>
    <p>Click
        <a asp-action="ListResponses">here</a>
        to see who is coming.
    </p>
</body>
</html>
